h1{
    font-size: 70px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar-brand{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #E9ECEF;
}
.row{
    margin: 50px;
}
.col-sm-6{
    margin-top: 50px;
    text-align: center;
    padding: 16px 10px;
}
img{
    size:  50px 50px;
}


